@import "tailwindcss";

/* @theme inline {
   --color-primary : #006DB3,
   --color-secondary: #98E5EA  
} */

:root {
  --color-primary: #4ea9e2; /* Deep Blue */
  --color-primary-dark: #1b357a; /* Darker Blue */
  --color-secondary: #E3F2FD; /* Accent Blue */
  --color-text: #1f2937; /* Gray-800 */
  --color-bg: #ffffff; /* White */
  --color-button:rgb(120, 233, 233);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
